
.compte-creation {
    color: blue;
    text-align: right;
}

.bd {
    background-color: #e6e6e6;
}

.connecter {
    text-align: right;
}

.header {
    background-color: #e6af0e;
    justify-content: space-between;
    text-align: left;
    height:90px;
  border-bottom: 1px solid rgba(0,0,0,.1);
  display:flex; 
  
}