
.compte-creation {
    color: blue;
    text-align: right;
}

.bd {
    background-color: #e6e6e6;
}

.connecter {
    text-align: right;
}

.header {
    background-color: #e6af0e;
    justify-content: space-between;
    text-align: left;
    height:90px;
  border-bottom: 1px solid rgba(0,0,0,.1);
  display:flex; 
  
}


#myInput {

    background-image: url('/css/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 200%;
    font-size: 10px;
    padding: 10px ;
    border: 1px solid #ddd;
    margin: 16px;
    border-radius: 12px;
    margin-left: -90px;
    }

    .buton {
        margin: 30px;
        margin-left: 70px;
        
    }
    body{
        font-family: "grill sans", sans-serif; 
    }